uvicorn==0.25.0
fastapi==0.106.0
pandas==2.1.4
numpy==1.26.2
langchain==0.0.353
tiktoken==0.5.2
pydantic==2.5.3
openai==0.28
faiss-cpu==1.7.4
streamlit==1.29.0
requests==2.31.0
sentence-transformers == 3.0.1